.trend_posts{

    .top, .left { display: flex; }

    .image{
        background-size: cover;
        min-height: 200px;
        background-position: center;
    }

    .left{
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;

        .image{
            min-width: 200px;
        }
        .info{
            margin-left: 5px;
        }
    }
    .top{
        flex-direction: column;
    }

    .col-3{
        .left{
            .image{
                min-width: 100px;
                min-height: 100px;
            }
            h4{
                font-size: 1rem;
            }
        }
    }

    .col-4{
        .left{
            .image{
                min-width: 150px;
                min-height: 150px;
            }
            h4{
                font-size: 1.2rem;
            }
        }
    }



}